{% extends 'base.html' %}
{% block title%}Secret{% endblock %}
{% block content %}

<!-- <h1>You made it!</h1>
<img src="https://media3.giphy.com/media/Ae7SI3LoPYj8Q/200w.webp?cid=ecf05e4799ema6iw8ygyzhid7amouw0cmtyr5atx72uozc2c&ep=v1_gifs_search&rid=200w.webp&ct=g" alt="Welcome image"> -->

<div class="card" style="width: 18rem;">
    <div class="card-header">
        "{{user.username}}" Details
        <form style="display: inline;" action="/users/{{user.username}}/delete" method="POST">
            <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
        </form>
    </div>
    <div class="card-body">
        <h5 class="card-title">Username</h5>
        <p class="card-text">"{{user.username}}</p>
        <hr>
        <h5 class="card-title">Email</h5>
        <p class="card-text">{{user.email}}</p>
        <hr>
        <h5 class="card-title">First name</h5>
        <p class="card-text">{{user.first_name.capitalize()}}</p>
        <hr>
        <h5 class="card-title">Last name</h5>
        <p class="card-text">{{user.last_name.capitalize()}}</p>
    </div>
</div>

<h3>{{user.username}} Feedback </h3>

<ul>
    {% for feed in all_feedback %}
    <li class="mb-2">
        <strong>{{feed.title}}</strong> - {{feed.content}}
        <form style="display: inline;" action="/feedback/{{feed.id}}/update" method="POST">
            <button class="btn btn-sm btn-danger"><i class="fa fa-pen"></i></button>
        </form>
        <form style="display: inline;" action="/feedback/{{feed.id}}/delete" method="POST">
            <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
        </form>


    </li>

    {% endfor %}
</ul>
<form action="/users/{{user.username}}/feedback/add" method="POST">
    <button class="btn btn-small btn-primary">Add Feedback</button>
</form>


{% endblock %}